*, html, body{
	box-sizing:border-box;
	margin:0;
	padding:0;
}

body{
	width:100vw;
}

#status{
	font-family: adobe-jenson-pro-display, serif;
	font-weight: 300;
	font-style: italic;
	font-size:28px;
	color:white;
	text-shadow: 2px 2px 4px #000000;
}

#header{
	width:100vw;
	position:absolute;
	z-index:1;
	text-align:center;
	padding:.5vw;
}